@font-face {
  font-family: 'Domaine Display';
  src: url('https://uploads-ssl.webflow.com/5f2429f172d117fcee10e819/5f242a698c20ba6e1306dddc_DomaineDispCond-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Domaine Display';
  src: url('https://uploads-ssl.webflow.com/5f2429f172d117fcee10e819/5f242a69b1577e63266b4d72_DomaineDispCondMedium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Editorial New';
  src: url('https://uploads-ssl.webflow.com/5f2429f172d117fcee10e819/5f242a694256f02b944d5767_EditorialNew-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Editorial New';
  src: url('https://uploads-ssl.webflow.com/5f2429f172d117fcee10e819/61099e9d29b5b66c3799db9a_EditorialNew-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Canopee';
  src: url('https://uploads-ssl.webflow.com/5f2429f172d117fcee10e819/616fd1dd00cf6c70f978fc69_Canopee.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}