@import url(./fonts/font.css);

:root{
    --font-primnary: Canopee;
    --font-secondary: Editorial New;
    --color-accent: #1b1b19d8;
    --color-orange: #b83c12;
    --color-bgc: #c2bab0;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: var(--color-accent);
}
body{
    background-color: var(--color-bgc);
}
nav{
    display: flex;
    height: 12vh;
    width: 100%;
    justify-content: space-between;
    padding: 0 2vw;
    align-items: center;
    text-align: center;
    border-bottom: 1px solid var(--color-accent);
}
nav h5{
font-size: 2vh;
font-family: var(--font-secondary);
font-weight: 100;
}
nav img{
width: 30vh;
}

nav i{
    font-size: 30px;
}
#banner-container{
display: flex;
height: 300px;
padding-top: 4vh;
margin-bottom: 3rem;
}
.banner-elem{
    width: 900px;
    padding: 0 3vw;
    border-left: 3px solid black;
}
.image-div{
    position: relative;
    overflow: hidden;
    height: 10rem;
    width: 100%;
    padding-bottom: 10px;
    border-radius: 5px;
}
.image-div img{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
/* .image-div img:hover{
transition: ease 1s;
scale: 1;
} */
.banner-elem h4{
    font-family: var(--font-primnary);
    font-size: 20px;
    padding: 10px 0;
}
.banner-elem h4 span{
    background-color: var(--color-orange);
    padding: 3px 4px;
    border-radius: 5px;

}
.banner-elem p{
    /* padding: 5px 0; */
    font-family: var(--font-secondary);
}
#elem2{
    text-align: center;
    font-size: 30px;
    font-weight: lighter;
}
.banner-elem h2{
    font-family: var(--font-secondary);
    font-size: 60px;
}
.banner-elem h3{
    padding: 20px 0;
}
#page1 h1{
    background-color: var(--color-accent);
    color: var(--color-bgc);
    font-family: var(--font-primnary);
    font-size: 460px;
    padding: 1rem;
}
#page2{
    display: flex;
    font-family: var(--font-primnary);
}
.left2 ,.right2{
    padding: 20px;
}
.left2{
    width: 35%;
}
#page2 h3{
    font-size: 100px;
}
#page2 h3 span{
    font-size: 200px;
}
.left2 h4{
    font-family: var(--font-secondary);
    font-size: 30px;
}
.right2 h5{
font-size: 100px;
}

#page2 img{
    width: 100%;
}

.page3 .top1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
h1{
    background-color: var(--color-accent);
    color: var(--color-bgc);
    text-transform: uppercase;
    font-family: var(--font-secondary);
    padding: 20px;
    font-size: 230px;
    letter-spacing: -.05em;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 20vw;
}

.top2{
    display: flex;
    background-color: blue;
    padding: 20px;
    width: 100%;

}
.left{
    display: flex;
    justify-content: space-between;
    background-color: red;
    padding: 20px;

}
.img-div{
    width: 350px;
}
.img-div img{
    width: 100%;
    height: 100%;
}
.left-main{
    display: flex;
    background-color: brown;
}
.left1{
    background-color: yellow;
    padding: 20px;
}
.left2{
background-color: green;
    padding: 20px;

}
